<component name="libraryTable">
  <library name="spring-webmvc-1.2.6">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-1.2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/standard-1.0.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-collections-3.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-1.2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-1.2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-1.2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-1.2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-1.2.6.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/jstl-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-5.2.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-5.2.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jcl-5.2.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.2.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/oro-2.0.8.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.0.4.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/aopalliance-1.0.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>